/* .color-box {
  width: 5%;
  height: 0.8%;
  padding: 10px;
  margin-left: 0.3rem;
  border-radius: 50%;
} */
@media only screen and (max-width: 600px) {
  .cart-grid-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 3rem !important;
  }
  .cart-image-box {
    width: 100% !important;
  }
  .cart-image-box img {
    width: 95%;
    height: 300px;
  }
  .price-box {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
  }
  .price-box p {
    padding: 0.7rem 0.9rem;
  }
}
